[Unit]
Description=BLE to MQTT
After=nodered.target

[Service]
ExecStart=/home/pi/ble-bridge/start.sh
WorkingDirectory=/home/pi/ble-bridge
User=pi
Group=daemon
Nice=10
SyslogIdentifier=ble-bridge
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
